<nav class="navbar navbar-dark bg-danger">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a class="nav-link" routerLink="/">Home</a></li>
        <li class="active"><a class="nav-link" routerLink="/card">Contact</a><li>
        <li class="active"><a class="nav-link" routerLink="/about">about</a></li>
        <li class="active"><a class="nav-link" routerLink="/dd">dd</a></li>
        
      </ul>
    </div>
  </nav>