<!-- <pre>
    {{contacts | json}}
</pre> -->
<table class="table table-striped">
    <thead>
      <tr>
        <th>SN</th>
        <th>name</th>
        <th>email</th>
        <th>phone</th>
        <th>location</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts" (click)="selectContact(contact)">
        <td>{{contact.login.uuid.substr(contact.login.uuid.length -5)}}</td>
        <td>{{contact.name.first}} {{contact.name.last}}</td>
        <td>{{contact.email}}</td>
        <td>{{contact.phone}}</td>
        <td>{{contact.location.city}}</td>
      </tr>
      
    </tbody>
  </table>